# dependencies
node_modules/

# env files
.env
.env.local
.env.production
.env.development

# build files
dist/
build/

# logs
logs
*.log
npm-debug.log*

# editor files
.vscode/
.idea/

# OS files
.DS_Store